conf/inventory.ini
conf/baseinstall.retry
conf/roles/
node_modules/
elm-stuff/
dev.sqlite3
frontend/static/

# customization and theming
frontend/Constants.elm
frontend/stylesheets/colors.scss
frontend/stylesheets/fonts.scss
