.ad-page {
  margin-top: $content-top-margin;
  $padding: 30px;
  &__ad {
    &-container {
      @include shadow;
      background-color: $light-grey-background;
    }
    background-color: $white;
    padding: $padding;
  }
  &__leave-answer {
    margin-top: 0;
    text-align: center;
    &-button {
      @include button-colors;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &-text {
      font-size: 20px;
      font-weight: bold;
      margin-top: 70px;
      padding: 0 30px;
    }
    &-hint {
      display: block;
    }

    &-box {
      width: 100%;
      padding: 15px;
      margin-top: 30px;
      font-size: 16px;
      height: 120px;
    }
    &-input-container {
      padding: $padding;
      text-align: right;
    }
  }
  &__sending {
    @include loader($pink, $light-grey-background, 4em);
  }
  &__answers {
    margin-top: 70px;
    &-separator {
      width: 1px;
      height: 50px;
      background-color: $pink;
      &-container {
        display: flex;
        justify-content: center;
      }
    }
    &-icon {
      color: $pink;
      background-color: $white;
      padding-bottom: 20px;
      position: absolute;
      &--left {
        right: -15px;
        transform: translateX(-50%);
      }
      &--right {
        left: -15px;
        transform: translateX(50%);
      }
      top: -5px;
    }
    $right-padding-on-left: 20px;
    &-content {
      padding-bottom: 15px;
      &--left {
        padding-right: $right-padding-on-left;
      }
      &--right {
        padding-left: 20px;
      }
    }
    &-row {
      margin-top: 30px;
      &--left {
        border-right: 2px solid $pink;
      }
      &--right {
        border-left: 2px solid $pink;
      }
    }
    &-delete {
      position: absolute;
      padding: 5px;
      width: 21px;
      height: 21px;
      box-sizing: content-box;
      cursor: pointer;
      &--left {
        top: -4px;
        right: #{ $right-padding-on-left + 2px };
      }
      &--right {
        top: -4px;
        right: 2px;
      }
    }
  }
  &__date {
    font-weight: bold;
  }
  &__domains {
    color: $pink;
    font-weight: bold;
  }
}
