
.author-info {
  &__pic {
    @include round-profile-pic(40px, $primary);
  }
  &__info {
    width: calc(100% - 40px - 15px);
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: -5px;
  }
  &__name {
    font-weight: bold;
    @include heading-font;
    color: $secondary;
    font-size: $fontsize16;
    word-wrap: break-word;
  }
  &__title {
    font-weight: bold;
    @include heading-font;
    font-size: $fontsize12;
    color: $primary;
    word-wrap: break-word;
  }
}
