.changepassword {
  $box-padding: 30px;
  margin-top: 100px;
  @include shadow;
  @include equal-height-columns;
  background-color: $lighter-grey;

  &__container {
    width: 100%;
  }

  &__heading {
    @include heading-font;
  }

  &__input {
    color: $primary;
    & input {
      width: 100%;
    }
  }

  &__submit-button {
    text-align: right;
    margin-top: 40px;
    & button {
      @include button-colors;
    }
  }
}
