// Individual color definitions

$pink: #ff6889;

$green:  #4a6161;

$light-blue: #b2d7ff;

$white: #fff;
$lighter-grey: #fbfbfb;
$light-grey: #f1f1f1;
$medium-grey: #cfcfcf;
$medium-dark-grey: #999;
$dark-grey: #636363;
$black: #000;


// Main color definitions
// Define the 2-color theme here

$primary: rgb(152, 40, 149);
$secondary: rgb(71, 71, 71);

// Derived lighter colors

$light-primary: lighten($primary, 9%);
$lighter-primary: lighten($primary, 15%);

$light-secondary: lighten($secondary, 9%);
