//color definitions
$pink: #ff6889;
$green:  rgb(74, 97, 97);
$light-green: #5f7d7d;
$medium-grey: rgb(207, 208, 207);
$dark-grey: rgb(99, 99, 99);

$light-grey: rgb(241, 241, 241);
$light-green: rgb(95, 125, 125);
$light-pink: #ff96ad;

$white: #FFF;
$black: #000;

$light-grey-background: #fbfbfb;

$inactive-grey: #cecece;
