//color definitions
$pink: #ff6889;
$green:  rgb(74, 97, 97);
$medium-grey: rgb(207, 208, 207);
$dark-grey: rgb(99, 99, 99);

$light-grey: rgb(251, 251, 251);
$light-green: rgb(95, 125, 125);

$white: #FFF;
$black: #000;

@mixin gotham-bold {
  font-family: "Gotham A","Gotham B",Arial,sans-serif;
  font-weight: 700 !important;
}

//fonts
@font-face  {
  font-family: mundoSansRegular;
  src: url("/static/MundoSansStd-Light.otf");
}

@mixin round-profile-pic($diameter, $color) {
  width: $diameter;
  height: $diameter;
  border-radius: #{$diameter / 2};
  background-color: $color;
  display: inline-block;
}