//color definitions
$pink: #ff6889;
$green:  rgb(74, 97, 97);
$medium-grey: rgb(207, 208, 207);
$dark-grey: rgb(99, 99, 99);

$light-grey: rgb(251, 251, 251);
$light-green: rgb(95, 125, 125);

$white: #FFF;
$black: #000;

$content-top-margin: 70px;
$light-grey-background: #fbfbfb;

$navbar-default-bg: $pink;
$navbar-default-color: $white;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-active-color: $white;
$navbar-default-link-hover-color: $white;
$font-family-sans-serif: mundoSansRegular;
$font-size-base: 14px;
$navbar-height: 66px;
$grid-float-breakpoint: 850px;

$btn-border-radius-small: 0;
$btn-border-radius-large: 0;
$btn-border-radius-base: 0;
$btn-primary-bg: $pink;

$link-color: $black;

$icon-font-path: "/static/";

@mixin gotham-bold {
  font-family: "Gotham A","Gotham B",Arial,sans-serif;
  font-weight: 700 !important;
}

//fonts
@font-face  {
  font-family: mundoSansRegular;
  src: url("/static/MundoSansStd-Light.otf");
}

@mixin round-profile-pic($diameter, $color) {
  width: $diameter;
  height: $diameter;
  border-radius: #{$diameter / 2};
  background-color: $color;
  display: inline-block;
}

@mixin inverse-button-colors {
  color: $pink !important;
  background-color: $white !important;
  &:hover {
    background-color: $white !important;
  }
}