@import 'colors';

$content-top-margin: 70px;

$navbar-default-bg: $primary;
$navbar-default-color: $white;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-active-color: $white;
$navbar-default-link-hover-color: $white;
$font-family-sans-serif: mundoSansRegular;
$font-size-base: 14px;
$navbar-height: 66px;
$profilebar-height: 55px;
$profilebar-height-mobile: 77px;

@mixin profile-bar-height {
  height: $profilebar-height;
  @media (max-width: $screen-xs-max) {
    height: $profilebar-height-mobile;
  }
}

@mixin margin-top-under-profile-bar {
  margin-top: #{ $basic-header-margin-top + $profilebar-height };
  @media (max-width: $screen-xs-max) {
    margin-top: #{ $basic-header-margin-top + $profilebar-height-mobile };
  }
}

$basic-header-margin-top: 50px;
$footer-height: 250px;
$footer-height-mobile: 450px;
$grid-float-breakpoint: 850px;
$full-width-ruler-margin-top: 70px;
$full-width-ruler-margin-bottom: 20px;

$btn-border-radius-small: 0;
$btn-border-radius-large: 0;
$btn-border-radius-base: 0;
$btn-primary-bg: $primary;

$link-color: $black;

$fa-font-path: "/static";
$icon-font-path: "/static/";

$fullpage-height: calc(100vh - #{ $navbar-height });

$input-padding: 8px;

$padding-before-footer: 50px;
$padding-before-footer-mobile: 35px;


#navbar-height-to-js { height: $navbar-height; }
#primary-to-js { color: $primary; }
#secondary-to-js { color: $secondary; }
#white-to-js { color: $white; }


@mixin gotham-bold {
  font-family: "Gotham A","Gotham B",Arial,sans-serif;
  font-weight: 700 !important;
}

//fonts
// @font-face  {
//   font-family: mundoSansRegular;
//   src: url("/static/MundoSansStd.otf");
// }

// @font-face  {
//   font-family: mundoSansLightItalic;
//   src: url("/static/MundoSansStd-LightItalic.otf");
// }

@mixin round-profile-pic($diameter, $color) {
  width: $diameter;
  height: $diameter;
  border-radius: #{$diameter / 2};
  background-color: $color;
  display: inline-block;
  overflow: hidden;
  & img {
    width: 100%;
  }
}

@mixin basic-header {
  @include gotham-bold;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: $basic-header-margin-top;
  color: $secondary;
  @media (max-width: $screen-xs-max) {
    font-size: 24px;
  }
}

@mixin button-colors {
  color: $white !important;
  background-color: $primary !important;
  &:hover {
    background-color: $light-primary !important;
    border-color: $light-primary !important;
  }
}

@mixin inverse-button-colors {
  color: $primary !important;
  background-color: $white !important;
  &:hover {
    background-color: $white !important;
    color: $light-primary !important;
    border-color: $light-primary !important;
  }
}

@mixin button-paddings {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* https://github.com/lukehaas/css-loaders */
@mixin loader($color, $background, $size) {
  &,
  &:before,
  &:after {
    border-radius: 50%;
  }
  & {
    color: $color;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: $size;
    height: $size;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    width: #{ $size * 0.02 + $size * 0.5 };
    height: #{ $size * 1.02 };
    background: $background;
    border-radius: #{ $size * 1.02 } 0 0 #{ $size * 1.02 };
    top: -#{ $size * 0.01 };
    left: -#{ $size * 0.01 };
    -webkit-transform-origin: #{$size * 0.52 } #{ $size * 0.51};
    transform-origin: #{$size * 0.52 } #{ $size * 0.51};
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
  }
  &:after {
    width: #{$size * 0.52 };
    height: #{ $size * 1.02 };
    background: $background;
    border-radius: 0 #{ $size * 1.02 } #{ $size * 1.02 } 0;
    top: -#{ $size * 0.01 };
    left: #{ $size * 0.51};
    -webkit-transform-origin: 0px #{ $size * 0.51};
    transform-origin: 0px #{ $size * 0.51};
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
  }
  @-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

@mixin placeholder-color-primary {
  &::-webkit-input-placeholder {
    color: $lighter-primary;

  }

  &::-moz-placeholder {
    color: $lighter-primary;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $lighter-primary;
  }
}

/* http://red-team-design.com/making-html-dropdowns-not-suck/ */
@mixin select($desktop-width) {
  padding: .5em;
	margin: 0;
	padding-right: 2.5em;
	border: 0;
	border-radius: 3px;
	appearance: none;
  background-color: $white;
  color: $primary;
  @include placeholder-color-primary;
  @include gotham-bold;
  width: 100%;
  border: 1px solid $primary;

  &-container {
    position: relative;
		display: inline-block;
		vertical-align: middle;
    width: $desktop-width;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    &::before,
    &::after {
      content: "";
		  position: absolute;
		  pointer-events: none;
    }

    &::after {
      content: "\25BC";
		  height: 1em;
		  font-size: .625em;
		  line-height: 1;
		  right: 1.2em;
		  top: 50%; margin-top: -.5em;
    }

    &::before {
      width: 2em;
		  right: 0; top: 0; bottom: 0;
		  border-radius: 0 3px 3px 0;
    }
  }
}

@mixin equal-height-columns {
  @media (min-width: $screen-sm-min) {
    display: flex;
  }
}

@mixin shadow {
  box-shadow: 0 2px 2px 1px #CCC;
}
