.contacts {

  &__intro-text {
    quotes: "“" "”" "‘" "’";

    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }

    margin-bottom: 34px;
    margin-top: 24px;
    font-size: 18px;
  }
  &__item-container {
    padding-right: 90px;
  }

  &__heading {
    @include basic-header;
    margin-top: #{ $basic-header-margin-top + $profilebar-height };
  }
  &__row {
    margin-top: 90px;
    &--first {
      margin-top: 0;
    }
  }
  & .profile__business-card {
    background-color: $light-grey;
  }
}
