.contacts {

  &__intro-text {
    quotes: "“" "”" "‘" "’";

    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }

    margin-bottom: 34px;
    margin-top: 24px;
    font-size: 18px;
  }
  &__item-container {
    padding-right: 90px;
  }

  &__heading {
    @include basic-header;
    @include margin-top-under-profile-bar;
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 30px;
    max-width: 90ch;
  }

  &__row {
    margin-top: 90px;
    &--first {
      margin-top: 0;
    }
  }
  & .profile__business-card {
    background-color: $light-grey;
  }
}
