.create-ad {
  $box-padding: 30px;
  margin-top: 50px;
  @include shadow;
  @include equal-height-columns;

  &__inputs {
    background-color: $light-grey-background;
    padding: $box-padding;
  }

  &__filters-submit {
    background-color: $white;
    padding: $box-padding;
  }

  &__heading {
    &-input {
      color: $pink;
      & textarea {
        @include placeholder-color-pink;
      }
      @include gotham-bold;
      margin-bottom: 0;
      & textarea {
        padding: $input-padding;
        width: 100%;
      }
    }
    &-length-hint {
      margin-bottom: 10px;
    }
  }

  &__textcontent {
    margin-top: 10px;
    padding: $input-padding;
    width: 100%;
    min-height: 80px;
  }

  &__filters-heading {
    @include gotham-bold;
  }

  &__select {
    @include select(100%);
    &-container {
      margin-bottom: 25px;
    }
  }

  &__submit-button {
    text-align: right;
    margin-top: 40px;
    & button {
      @include button-colors;
    }
  }

  &__fail,
  &__success {
    text-align: center;
    color: $white;
    & h1 {
      @include gotham-bold;
    }
  }
}
