.changepassword, .login, .registration, .initpassword, .renewpassword {
  $box-padding: 30px;
  @include shadow;
  @include equal-height-columns;
  background-color: $lighter-grey;

  &__container {
    width: 100%;
  }

  &__heading {
    @include heading-font;
  }

  &__input {
    color: $primary;
    & input {
      width: 100%;
    }
  }

  &__consent {
    display: flex;
    &-text {
      margin-left: 10px;
    }
  }

  &__submit-button {
    text-align: right;
    margin-top: 40px;
    & button {
      @include button-colors;
    }
  }
}

.login__renew {
  margin-top: 40px;
  text-align: center;
  &--button {
    font-size: 18px;
    @include button-paddings;
    @include button-colors;
  }
}

.changepassword {
  margin-top: 100px;
}

.login, .registration, .initpassword, .renewpassword {
  margin-top: 50px;
}
