
// Font definitions for the main content
$font-family-sans-serif: regular, Helvetica, Arial, sans-serif;
$font-size-base: 14px;

$italic-font: lightItalic, Helvetica, Arial, sans-serif;

// The font for various headings
@mixin heading-font {
  font-family: bold, Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
}

// The font for normal navbar links
@mixin navbar-font {
    font-family: $font-family-sans-serif;
}

// Import custom fonts
@font-face  {
  font-family: regular;
  src: url("/static/BarlowCondensed-Regular.ttf");
}

@font-face  {
  font-family: lightItalic;
  src: url("/static/BarlowCondensed-LightItalic.ttf");
}

@font-face {
  font-family: bold;
  src: url("/static/BarlowCondensed-Bold.ttf");
}
