
// Font definitions for the main content
$font-family-sans-serif: 'PT Sans', Helvetica, Arial, sans-serif;
$font-size-base: 14px;

$italic-font: 'PT Sans', Helvetica, Arial, sans-serif;

// The font for various headings
@mixin heading-font {
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
}

// The font for normal navbar links
@mixin navbar-font {
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
}
