
.home {
  $intro-height: $fullpage-height;
  &__intro-screen {
    height: $intro-height;
  }
  &__intro-canvas {
    height: $intro-height;
    position: absolute;
    top: $navbar-height;
    width: 100vw;
    left: 0;
    z-index: 2;
  }
  &__introbox {
    text-align: center;
    &--heading {
      margin-top: 30vh;
      @media screen and (max-width: $screen-xs-max) {
        margin-top: 20vh;
      }
      @media screen and (max-height: 600px) {
        margin-top: 5vh;
      }
      @include gotham-bold;
      text-transform: uppercase;
      font-size: 42px;
      color: $primary
    }
    &--content {
      margin-top: 40px;
      margin-bottom: 60px;
      font-size: 20px;
    }
    &--button {
      &-container {
        z-index: 10;
      }
      font-size: 18px;
      @include button-paddings;
      @include button-colors;
    }
    &-check-more {
      color: $medium-grey;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      top: 100vh;
      z-index: 10;
      cursor: pointer;
    }
  }

  &__section {
    &--container {
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 100px;
    }
    &--heading {
      padding-top: 90px;
      padding-bottom: 50px;
      @media screen and (max-width: $screen-xs-max) {
        padding-top: 40px;
        padding-bottom: 0px;
      }
      text-transform: uppercase;
      @include gotham-bold;
      &--text {
        font-size: 28px;
      }
      &--buttons {
        text-align: right;
        @media screen and (max-width: $screen-xs-max) {
          text-align: center;
        }
        &--inverse {
          border-width: 2px !important;
          @include inverse-button-colors;
          @include button-paddings;
          @media screen and (max-width: $screen-xs-max) {
            margin-top: 20px;
          }
        }
        &--normal {
          margin-left: 20px;
          @include button-paddings;
          @include button-colors;
          @media screen and (max-width: $screen-xs-max) {
            display: none !important;
          }
        }
      }
    }
  }
  &__list-users,
  &__latest-ads {
  }

  &__latest-ads {
    background-color: $light-grey;
  }

  &__list-users {
    background-color: $white;
  }

  &__tradenomiitti {
    &-info-row {
      @include shadow;
      background-color: $white;
      @include equal-height-columns;
    }
    &--background {
      background-color: $light-grey;
      padding-top: 120px;
      padding-bottom: 120px;
    }
    &--container {
      margin-left: 5%;
      margin-right: 5%;
    }
    &-info-container {
      padding: 30px;
    }
    &--image {
      width: calc(100% + 15px);
      height: 100%;
      @media (max-width: $screen-xs-max) {
        width: calc(100% + 30px);
        margin-left: -15px;
      }
    }
    &-info {
      &--header {
        color: $primary;
        @include gotham-bold;
        text-transform: uppercase;
        font-size: 42px;
      }
      &-content {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      &-text {
        font-size: 20px;
      }
      &--read-more-button {
        border-width: 2px !important;
        @include button-paddings;
        @include inverse-button-colors;
      }
    }
  }
} 
