@import 'common';



@mixin button-paddings {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.home {
  &__intro-screen {
    height: 100vh;
  }
  &__introbox {
    text-align: center;
    padding-top: 75px;
    &--heading {
      @include gotham-bold;
      text-transform: uppercase;
      font-size: 42px;
      color: $pink
    }
    &--content {
      padding-top: 40px;
      padding-bottom: 60px;
      font-size: 20px;
    }
    &--button {
      font-size: 18px;
      background-color: $pink;
      color: $white;
      width: 250px;
      height: 60px;
    }
  }

  &__section {
    &--container {
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 100px;
    }
    &--heading {
      padding-top: 90px;
      padding-bottom: 50px;
      @media screen and (max-width: $screen-xs) {
        padding-top: 40px;
        padding-bottom: 0px;
      }
      text-transform: uppercase;
      @include gotham-bold;
      &--text {
        font-size: 28px;
      }
      &--buttons {
        text-align: right;
        @media screen and (max-width: $screen-xs) {
          text-align: center;
        }
        &--inverse {
          border-width: 2px !important;
          @include inverse-button-colors;
          @include button-paddings;
          @media screen and (max-width: $screen-xs) {
            margin-top: 20px;
          }
        }
        &--normal {
          margin-left: 20px;
          @include button-paddings;
          @media screen and (max-width: $screen-xs) {
            display: none !important;
          }
        }
      }
    }
  }

  &__latest-ads {
    background-color: $light-grey;
    margin-left: -15px;
    width: 100vw;
  }

  &__list-users {
    background-color: $white;
    width: 100vw;
  }
} 