.list-users,
.list-ads {

  &__header {
    @include basic-header;
  }

  &__list-background {
    background-color: $light-grey;
    padding-top: 30px;
  }

  &__row {
    @include equal-height-columns;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-expanding-part {
      flex-grow: 1;
    }
    &-ruler {
      width: 100%;
    }

    &-container {
      display: flex;
    }
  }

  &__sorter-button {
    &--active {
      background-color: $green !important;
      opacity: 1.0 !important;
    }

    &,
    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
      background-color: $light-green;
      color: $white;
      @include gotham-bold;
      text-transform: uppercase;
      margin-right: 15px;
      padding: 14px 20px;
      font-size: 12px;
    }

    & i {
      margin-left: 5px;
      vertical-align: middle;
      height: 100%;
    }
  }
}

.list-users {
  &__user-row {
  }
  &__select {
    @include select(90%);
    &-container {
      margin-bottom: 25px;
    }
  }
  &__filters {
    margin-bottom: 25px;
  }
}

.list-ads {
  &__ad-preview {
    position: relative;
    margin-top: 25px;
    padding: 15px;
    @include shadow;
    background-color: $white;
    &-heading {
      color: $pink;
      @include gotham-bold;
      margin-top: 10px;
    }
    &-content {
      font-size: 16px;
    }
    > hr {
      border-color: rgba(0, 0, 0, 0.35);
    }
    &-answer-count {
      float: right;
      cursor: pointer;
      &-number {
        font-weight: bold;
        margin-right: 4px;
      }
      & svg {
        fill: $pink;
        width: 37px;
      }
    }
    &-author-info {
      width: calc(100% - 62px);
    }
  }
}
