.list-users,
.list-ads {

  &__header {
    @include basic-header;
  }

  &__list-background {
    background-color: $light-grey;
    padding-top: 30px;
  }

}

.list-users {
  &__user-row {
  }
  &__select {
    @include select(90%);
  }
}

.list-ads {
  &__ad-preview {
    margin-top: 25px;
    padding: 15px;
    box-shadow: 0 2px 2px 1px #CCC;
    background-color: $white;
    &-heading {
      color: $pink;
      @include gotham-bold;
    }
    &-content {
      font-size: 16px;
    }
    > hr {
      border-color: rgba(0, 0, 0, 0.35);
    }
    &-answer-count {
      float: right;
      &-number {
        font-weight: bold;
        margin-right: 4px;
      }
      & svg {
        fill: $pink;
        width: 37px;
      }
    }
  }
}
