.profile {
  &__editing {
    &--heading {
      margin-top: #{ $navbar-height + $content-top-margin };
      text-align: center;
      padding-bottom: 50px;
      &--title {
        text-transform: uppercase;
        color: $pink;
        font-size: 36px;
        @include gotham-bold;
        margin-bottom: 50px;
      }
      &--content {
        font-size: 16px;
      }
    }
    &--membership {
      background-color: $light-grey;
      &--databox {
        background-color: $white;
        $padding: 33px;
        padding: 8px $padding $padding $padding;
        &--heading {
          @include gotham-bold;
          color: $pink;
          text-transform: uppercase;
        }
        &-definitions {
          width: 100%;
          margin-bottom: 30px;
          & td {
            border-bottom: 1px solid $dark-grey;
            $padding: 8px;
            padding-top: $padding;
            padding-bottom: $padding;
          }
          & td:first-child {
            font-weight: bold;
            padding-right: 2em;
            &:after {
            content: ':';
            }
          }
        }
      }
      //margin-left: 4%;
      //margin-right: 4%;
      @include shadow;
      &--info {
        padding: 40px;
        &--text {
          font-size: 16px;
          margin-bottom: 30px;
        }
        &--button {
          @include inverse-button-colors;
          @include button-paddings;
          border-width: 2px;
          font-size: 12px !important;
        }
      }
    }
    &--public-info {
      padding-top: 50px;
      padding-bottom: 100px;

      &--header {
        color: $pink;
        text-transform: uppercase;
        @include gotham-bold;
      }
      &--text {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

    }
    &--competences {
      background-color: $light-grey;
      margin-left: -15px;

      &--heading {
        margin-top: 50px;
        margin-bottom: 30px;
        &--title {
          @include gotham-bold;
          text-transform: uppercase;
          color: $pink;
        }
        &--text {
          margin-top: 30px;
          font-size: 16px;
        }
      }

      &--text {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 16px;
      }
    }
  &--bold {
    font-weight: bold;
    font-size: 16px;
  }
  }
  &__buttons {
    text-align: right;
    height: 100%;
    margin-top: 5px;
  }

  &__top-row {
    position: fixed;
    width: 100%;
    top: $navbar-height;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 8001;
    background-color: $medium-grey;
    &--editing {
      background-color: $green;

      color: $white;
      & a {
        color: $white;
      }
    }
    &-edit-button {
      min-width: 16em;
      @include button-colors;
    }
    &-settings-button {
      min-width: 16em;
      margin-right: 15px;
    }
  }
  &__heading {
    @include gotham-bold;
  }

  &__consent-needed {
    text-align: center;
    color: $white;
    padding: 85px;
    border: 1px solid $white;
    & h1 {
      @include gotham-bold;
      text-transform: uppercase;
    }

    & p {
      margin-top: 40px;
      font-size: 20px;
    }
  }

  &__consent-btn-inverse {
    margin-top: 50px;
    @include inverse-button-colors;
    @include gotham-bold;
    text-transform: uppercase;
  }

  &__location {
    &--marker {
      margin-right: 5px;
      width: 20px;
    }
    &--text {
      position: relative;
      top: 3px;
    }
  }
  &__business-card {
    background-color: $light-grey;
    @include shadow;
    padding: 30px;

    &--name-work--input {
      padding: 5px;
      width: 100%;
    }

    &--input {
      @include gotham-bold;
      &-icon {
        width: 20px;
        font-size: 18px;
        margin-right: 10px;
        display: inline-block;
        text-align: center;
      }

      input {
        width: calc(100% - 30px);
        font-size: 12px;
      }
      svg {
        position: relative;
        top: 5px;
      }
      &-line {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &--empty {
        color: $inactive-grey;
        svg {
          fill: $inactive-grey;
        }
        hr {
        border-top: 1px solid $inactive-grey !important;
        }
      }
      &--filled {
        color: $pink;
        svg {
          fill: $pink;
        }
        hr {
        border-top: 1px solid $pink !important;
        }
      }
    }

    &--data {
      display: flex;
      margin-bottom: 10px;
      &--name-work {
        margin-left: 20px;
        display: inline-block;
        position:relative;
        top: -4px;
        flex-grow: 1;

        h4 {
          color: $green;
          @include gotham-bold;
        }
        h5 {
          color: $pink;
          @include gotham-bold;
        }
      }
      &--contact {
        p {
          margin-top: 0px;
          margin-bottom: 0px;
        }

      }
    }
  }
}
