.settings {
  &__heading {
    @include basic-header;
    @include margin-top-under-profile-bar;
  }

  &__subsection-heading {
    @include display-font;
    text-transform: capitalize;
    color: $primary;
  }

  &__save {
    margin-top: 25px;
  }
}
