@import 'common';
@import 'bootstrap';
@import 'lists';
@import 'author-info';
@import 'home';
@import 'login-needed';
@import 'profile';
@import 'image-upload';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/cropperjs/dist/cropper';
@import 'svg-styles';
@import 'navbar';
@import 'ad-page';
@import 'user-page';
@import 'create-ad';
@import 'skill';
@import 'settings';
@import 'popover';
@import 'contacts';

body {
  overflow-x: hidden;
  width: 100vw;
}

.consent-needed {
  text-align: center;
  color: $white;
  padding: 85px;
  @media (max-width: $screen-xs-max) {
    padding: 0 0 20px 0;
  }
  z-index: 10;
  border: 1px solid $white;
  background-color: $pink;
  &__animation {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  & h1 {
    @include gotham-bold;
    text-transform: uppercase;
  }

  & p {
    margin-top: 40px;
    font-size: 20px;
  }

  &__btn-inverse {
    @include inverse-button-colors;
    @include gotham-bold;
    text-transform: uppercase;
  }
  &__actionable {
    margin-top: 50px;
  }

  &__read-terms {
    position: relative;
    top: -3px;
    padding-left: 10px;
    &-link {
      color: $white;
      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }
  }
}

.btn-primary {
  @include gotham-bold;
  text-transform: uppercase;
}


.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9001;
  background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  @media (max-width: $screen-xs-max) {
    & .logo-image {
      width: 250px;
    }
  }
}

.app-content {
  padding-top: $navbar-height;
  padding-bottom: $footer-height;
  @media (max-width: $screen-xs-max) {
    padding-bottom: $footer-height-mobile;
  }
}

.last-row {
  padding-bottom: $padding-before-footer;
  @media (max-width: $screen-xs-max) {
    padding-bottom: $padding-before-footer-mobile;
  }
}


div#not-implemented {
  padding: 100px;
  font-size: large;
  color: $pink;
  text-align: center;
}

.full-width-ruler {
  width: 100vw;
  border-color: rgba(0, 0, 0, 0.35);
  margin-top: $full-width-ruler-margin-top;
  margin-bottom: $full-width-ruler-margin-bottom;
}

.loader {
  @include loader($white, $pink, 10em);
}

.home__list-users .user-card {
  background-color: $light-grey;
}
.user-card {
  background-color: $white;
  @include shadow;
  padding: 30px;
  margin-top: 25px;

  & .author-info__pic {
    @include round-profile-pic(60px, $pink); // Override with bigger picture
  }
}


.page-layout {
  position: relative;
  min-height: 100vh;
}

.footer {
  background-color: $green;
  height: $footer-height;
  @media (max-width: $screen-xs-max) {
    height: $footer-height-mobile;
  }
  width: 100vw;
  position: absolute;
  bottom: 0;

  &__content {
    margin-top: 60px;
    padding-bottom: 30px;
  }

  &__tral-logo {
    height: 66px;
    margin-bottom: 20px;
  }

  & a {
    color: $white;
  }

  &__social-icons {
    & i {
      color: $white;
      padding: 15px;
      border: 1px solid $white;
      margin-right: 15px;
    }
  }
}

.info {
  &__heading {
    @include basic-header
  }

  &__tral-in-general {
    font-family: mundoSansLightItalic;
  }
}

.preformatted {
  &__heading {
    @include basic-header;
  }

  &__section-heading {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.card-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

.error-messages {
  position: fixed;
  bottom: 20px;
  left: 3vw;
  width: 94vw;
}

.skills-input {
  display: none;
  &--active {
    display: inline;
  }
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
  max-height: 250px;
  overflow-y: auto;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px 5px 20px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.aa-category {
  @include gotham-bold;
  padding-left: 10px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
