//color definitions
$pink: rgb(255, 105, 138);
$green:  rgb(74, 97, 97);
$medium_grey: rgb(207, 208, 207);
$dark_gey: rgb(99, 99, 99);
$white: #FFF;

@mixin gotham-bold {
  font-family: "Gotham A","Gotham B",Arial,sans-serif;
  font-weight: 700;
}

//fonts
@font-face  {
  font-family: mundoSansRegular;
  src: url("/static/MundoSansStd.otf");
}

$navbar-default-bg: $pink;
$navbar-default-color: $white;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-active-color: $white;
$navbar-default-link-hover-color: $white;
$font-family-sans-serif: mundoSansRegular;
$font-size-base: 14px;
$navbar-height: 66px;

#logo {
  text-transform: uppercase;
}

@import "bootstrap";

.navbar-nav {
  width: 100%;
  text-align:center;
  padding-right: 15px;
}

.navbar-nav > li {
  vertical-align: middle;
  &.navbar-center {
    float: none;
    display: inline-block;
  }
}

.navbar__vertical-bar,
.navbar__vertical-bar--right > div {
  width: 1px;
  height: 26px;
  background-color: white;
}

.navbar__vertical-bar--right {
  position: relative;
  height: $navbar-height;

  & > div {
    position: absolute;
    top: 50%;
    margin-top: -13px;
  }
}

.navbar__inverse-button {
  height: $navbar-height;
  $inverse-button-height: 35px;

  @include gotham-bold;

  & > a {
    text-transform: uppercase;
    height: $inverse-button-height;
    color: $pink !important;
    background-color: $white;
    &:hover {
      background-color: $white !important;
    }

    padding-bottom: 7px !important;
    padding-top: 7px !important;
    top: 50%;
    margin-top: #{-$inverse-button-height / 2};
  }
}

.app-content {
  padding-top: $navbar-height;
}

div#not-implemented {
  padding: 100px;
  font-size: large;
  color: $pink;
  text-align: center;
}
