.user-page {
  &__section {
    margin-top: #{ $navbar-height + $content-top-margin };
    @include equal-height-columns;
  }
  &__first-block {
    @include shadow;
  }
  &__user-info-box {
    padding: 50px;
    background-color: $white;
  }
  &__edit-or-contact-user {
    text-align:center;
    padding-top: 80px;
    padding-bottom:80px;
    background-color: $light-grey;
    & button {
      @include button-colors;
      @include button-paddings;
    }
    &-prompt {
      @include gotham-bold;
      font-size: 16px;
      margin-bottom: 40px;
      color: $dark-grey;
    }
  }

  &__add-contact-textcontent {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: $input-padding;
    width: 80%;
    min-height: 80px;
  }
  &__pic-container {
    margin-right: 20px;
  }
  &__pic {
    $size: 90px;
    @include round-profile-pic($size, $pink);
  }
  &__businesscard-view-pic {
    @include round-profile-pic(60px, $pink);
  }
  &__editing-name-details {
    flex-grow: 1;
    & input,
    & h4,
    & p {
      width: 100%;
    }
  }
  &__editing-pic-and-name {
    display: flex;
  }

  &__editing-location {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__name {
    @include gotham-bold;
  }
  &__work-details {
    color: $pink;
    & input {
      @include placeholder-color-pink;
    }
    font-weight: bold;
  }

  &__description {
    margin-top: 22px;
    font-size: 17px;

    &-input {
      width: 100% !important;
      height: 90px;
      padding: 8px;
      border: 2px solid $pink;
    }
  }

  &__education {
    padding-top: $full-width-ruler-margin-bottom;
    background-color: $light-grey;
    &--editing {
      background-color: $white;
    }
    &-header {
      @include gotham-bold;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &-details {
      margin-bottom: 30px;
      & td {
        $padding: 8px;
        padding-top: $padding;
        padding-bottom: $padding;
        padding-right: 2em;
      }
      & td:first-child {
        font-weight: bold;
        &:after {
          content: ':';
        }
      }

      &-remove {
        color: $pink;
        cursor: pointer;
      }

      &-input {
        margin-bottom: 20px;
      }
    }
  }

  &__membership-info {
    border: 1px solid $medium-grey;
    $padding: 33px;
    padding: 8px $padding $padding $padding;
    &-heading {
      display: inline-block;
      margin-right: 18px;
    }
    &-definitions {
      width: 100%;
      margin-bottom: 30px;
      & td {
        border-bottom: 1px solid $dark-grey;
        $padding: 8px;
        padding-top: $padding;
        padding-bottom: $padding;
      }
      & td:first-child {
        font-weight: bold;
        padding-right: 2em;
        &:after {
          content: ':';
        }
      }
    }
  }

  &__competences {
    &-header {
      @include gotham-bold;
      text-transform: uppercase;
    }
    &-special-skills {
      display: flex;
      &-row {
        @include equal-height-columns;
        padding-bottom: 20px;
      }
      &-text {
        flex-grow: 1;
        padding-right: 10px;
      }
      &-delete {
        color: $pink;
        cursor: pointer;
      }
    }
  }

  &__location-select,
  &__education-details-select,
  &__competence-select {
    @include select(80%);

    &-label {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;

    }
  }

  &__location-select-container {
    flex-grow: 1;
  }

  &__activity {
    margin-top: $full-width-ruler-margin-top;
    margin-bottom: $full-width-ruler-margin-bottom;
    padding-bottom: $full-width-ruler-margin-top;
    padding-top: $full-width-ruler-margin-bottom;
    background-color: $light-grey;
    &-header {
      @include gotham-bold;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &-item {
      margin-top: 25px;
      padding: 15px;
      @include shadow;
      &-heading {
        color: $pink;
        @include gotham-bold;
      }
      &-content {}
      > hr {
        border-color: rgba(0, 0, 0, 0.35);
      }
      &-profile {
        &-pic {
          @include round-profile-pic(40px, $pink);
        }
        &-info {
          display: inline-block;
          margin-left: 15px;
          position: relative;
          top: -5px;
        }
        &-name {
          font-weight: bold;
        }
        &-title {
          font-weight: bold;
          color: $pink;
        }
      }
    }
    &-show-more {
      &,
      &:hover,
      &:active,
      &:focus {
        color: $pink;
        height: 1.4em;
        background-color: transparent;
        float: right;
        margin-top: 30px;
        border: 0;
        padding: 0;
        @include gotham-bold;
        text-transform: uppercase;
        & i {
          height: 100%;
          margin-left: 5px;
          vertical-align: middle;
        }
      }
    }
  }

  &__businesscard {
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    &-icon {
      width: 40px;
      fill: $pink;
      display: inline-block;
      vertical-align: middle;
    }
    &-text {
      @include gotham-bold;
      vertical-align: middle;
      margin-left: 15px;
    }
  }

  &__contact-send {
    margin-top: 15px;
  }
}
