// Individual color definitions

$white: #fff;
$lighter-grey: #fbfbfb;
$light-grey: #f1f1f1;
$medium-grey: #cfcfcf;
$medium-dark-grey: #999;
$dark-grey: #636363;
$black: #000;

$dropdown-selection: #b2d7ff;


// Main color definitions
// Define the 2-color theme here

$primary: #ff6889;    // pink
$secondary: #4a6161;  // green

// Derived lighter colors

$light-primary: lighten($primary, 9%);
$lighter-primary: lighten($primary, 15%);

$light-secondary: lighten($secondary, 9%);
